body {
    height: 587px;
    width: 100%;
    max-width: 1300px;
    margin: 0px auto;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 13px;
}

#root {
    display: flex;
    align-items: center;
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: 437px;
    border: 1px solid rgb(199, 197, 197);
    border-radius: 10px;
    margin: 50px auto;
    padding: 25px;
}

.page {
    width: 100%;
    height: 100%;
}

header {
    background: #67C50A;
}

header .logo {
    margin: 0px;
    padding: 10px;
    color: white;
}

.today-page {
    display: flex;
    flex-direction: row;
    max-height: 90%;
}

.today-page .sidenav {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    transition: 0.5s;
    width: 0px;
    height: 100%;
    padding: 10px 0px;
    background: #fafafa;
}

.main-content {
    width: 100%;
    max-height: 100%;
}

.main-content .sidenavbutton {
    display: flex;
}

.main-content .sidenav-part {
    align-self: center;
}

.part-1 {
    margin: 10px;
    width: 60%;
    height: 95%;
    overflow-y: scroll;
}

.main-content .sidenav-button {
    height: 150px;
    width: 20px;
    text-align: center;
    font-size: 10px;
    padding: 0;
}

.main-content {
    transition: margin-left .5s;
    display: flex;
    flex-direction: row;
}

.today-page .sidenav .closebtn {
    border: none;
    width: 50px;
    height: 50px;
    font-size: 46px;
    padding: 0;
    background: #fafafa;
    color: rgba(104, 197, 10, 0.582);
    align-self: flex-end;
    margin-right: 10px;
    outline: none;
}

.today-page .sidenav a {
    text-decoration: none;
    display: block;
    color: rgba(104, 197, 10, 0.582);
    font-size: 16px;
    padding-left: 40px;
    transition: 0.3s;
}

.today-page .sidenav a:hover {
    font-size: 18px;
}

.page-title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 12px;
    margin: 4px 0px;
    font-size: 24px;
}

.page-title p {
    margin: 0px;
}

a .login {
    color: chartreuse;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    height: 40px;
    width: 372px;
    padding-left: 10px;
    color: black;
    display: flex;
    align-items: center;
    background: rgba(196, 196, 196, 0.46);
    border: 0px;
    border-radius: 10px;
    margin: 10px 0px;
    outline: none;
}

.subButton {
    margin: 10px 0px;
    padding: 0px;
    height: 40px;
    width: 382px;
    background: #67C50A;
    border: 0px;
    border-radius: 10px;
    text-align: center;
    outline: none;
}

.sep {
    display: flex;
    flex-direction: row;
    margin: 30px 0px;
}

.separator {
    width: 400px;
    height: 0px;
    border: 0.5px solid rgb(199, 197, 197);
    z-index: 0px;
    margin: 8.5px;
}

.middle_separator {
    z-index: 10px;
    top: 10px;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    color: rgb(199, 197, 197);
}

.logo {
    display: flex;
    flex-direction: row;
    color: #67C50A;
    font-size: 2rem;
    padding: 0px 10px;
    margin: 30px 0px;
}

.logo p {
    font-size: 26px;
    margin: 0px;
    padding: 0px 5px;
}

.g-signin2 {
    margin-left: 10px;
}

.link-text {
    bottom: 10px;
    position: absolute;
    align-self: center;
}

[class*="element-"] {
    display: flex;
    flex-direction: row;
    margin: 3px;
}

[class*="element-"] [class*="time-"] {
    width: 20px;
    margin: 3px;
}

[class*="element-"] [class*="time-"]:hover {
    color: #67C50A;
}

[class*="element-"] [class*="text-area-"] {
    width: 90%;
    height: 30px;
    border-bottom: 0.3px solid rgba(0, 0, 0, 0.288);
    margin-left: 8px;
}

[class*="element-"] [class*="text-area-"]:hover {
    border-color: #67C50A;
}

[class*="element-"] .schedule-btn {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 0.3px solid rgba(0, 0, 0, 0.349);
}

[class*="element-"] .schedule-btn:hover {
    background: chartreuse;
}

#date-input {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 26px;
    border: none;
    background: none;
    outline: none;
}

#date-picker{
    align-self: flex-end;
    margin: 10px;
    margin-right: 83px;
}

#date-input:hover {
    color: #67C50A;
}

#date-input:active {
    font-size: 26.2px;
}

.tasks-list {
    margin: 10px;
    padding: 20px;
    overflow-y: auto;
}

#new-task {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 30px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 20px;
    color: #67C50A;
    background: none;
    outline: none;
    padding: 0px;
}

#new-task:hover {
    color: white;
    background: #67C50A;
}

.part-2 {
    margin: 10px;
    width: 40%;
    height: 95%;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar:horizontal {
    height: 22px;
    /* 1 - горизонтальный скроллбар */
}

::-webkit-scrollbar-button {
    background: #b3b3b350;
    border-radius: 5px;
    /* 2 - кнопка */
}

::-webkit-scrollbar-track {
    background: #b3b3b31c;
    /* 3 - трек */
}

::-webkit-scrollbar-track-piece {
    background: #b3b3b31c;
    /* 4 – видимая часть трека */
}

::-webkit-scrollbar-thumb {
    background: #b3b3b356;
    border-radius: 10px;
    /* 5 - ползунок */
}